In [2]:
#Define a function called myfunc that takes in an arbitrary number of arguments,
#and returns a list containing only those arguments that are even.

def myfunc(*args):
    return [x for x in args if x % 2 == 0]
        
myfunc(3,4,5,6,8,10,12,14)

[4, 6, 8, 10, 12, 14]

In [5]:
#Define a function called myfunc that takes in a string, and returns a matching string where every even letter is uppercase, and every odd letter is lowercase.

def myfunc(mystring):
    result=''
    for index,letter in enumerate(mystring):
        if index%2==0:
            result+=letter.upper()
        else:
            result+=letter.lower()
    return result

myfunc("tatiana")

'TaTiAnA'

In [8]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    elif a%2!=0 and b%2!=0:
        return max(a,b)
    else:
        pass

lesser_of_two_evens(5,7)

7

In [21]:
#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False
def animal(name):
    wordlist=name.split()
    return wordlist[0][0]==wordlist[1][0]
        
        
animal('RLili RLilu')

True

In [115]:
def makes_twenty(n1,n2):
    return (n1+n2==20) or (n1==20) or (n2==20)

In [116]:
makes_twenty(10,20)

True

In [117]:
makes_twenty(10,10)

True

In [118]:
makes_twenty(10,5)

False

In [120]:
def old_macdonald(name):
    mylist = list(name)
    mylist[0] = mylist[0].upper()
    mylist[3] = mylist[3].upper()
    return ''.join(mylist)

old_macdonald("tatiana")

'TatIana'

In [56]:
def master(sentence):
        word=sentence.split()
        return ' '.join(word[::-1])

In [57]:
master('MY NUMBER')

'NUMBER MY'

In [123]:
def master(sentence):
    backward=''
    mylist=sentence.split()
    for words in mylist:
        backward+=words[::-1]
    return backward

In [124]:
master('store NUMBER')

'erotsREBMUN'

In [61]:
def master(sentence):
    return sentence[::-1]

In [62]:
master('my apple is red')

'der si elppa ym'

In [127]:
#ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
def myfunc(n):
    return (abs(100-n)<=10) or (abs(200-n)<=10)

In [129]:
myfunc(108)

True

In [149]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True 
    return False

In [150]:
has_33((0,2,3,8))

False

In [142]:
triple_letter("helo")

' helohelohelo'

In [157]:
#PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
def triple_letter(word):
    new_word=" "
    for letter in word:
        new_word+=letter*3
    return new_word

In [158]:
triple_letter("mama")

' mmmaaammmaaa'

In [187]:
""#BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, reduce the total sum by 10.
#Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

def numbers(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31:
        return sum([a,b,c])-10
    else: 
        return "Bust"

In [189]:
numbers(11,9,9)

19

In [193]:
#SUMMER OF '69: Return the sum of the numbers in the array,
#except ignore sections of numbers starting with a 6 and extending to the next 9 
#(every 6 will be followed by at least one 9). Return 0 for no numbers.

def num_69(numbers):
    total=0
    add=True
    
    for number in numbers:
        while add:
            if number!=6:
                total+=number
                break
            else:
                add=False 
        while not add:
            if number!=9:
                break 
            else:
                add=True 
                break 
    return total

In [197]:
num_69([1,1,3,6,7,8,9,10])

15

In [201]:
#SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

def spy_game(numbers):
    code=[0,0,7,"a"]
    
    for num in numbers:
         if num==code[0]:
            code.pop(0)
            
    return len(code)==1

In [204]:
spy_game([1,2,0,5,1,8,9,1,7])

False

In [54]:
#wrong
#COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

def primes(num):
    
    if num<2:
        return 0
    
    prime=[2]
    x=3
    
    while x<=num:
        for y in range(3,x+2,2):
#             print("print y:",y)
            if x%y == 0:
                x+=2
                break 
            else:
                prime.append(x)
                x+=2
#         print('print x:',x)
    print (prime)
    return len(prime)

In [55]:
primes(3)

[2]

1

In [48]:
def count_primes(num):
    if num<2:
        return 0
    
    counter = 0
    primen=[2]
    for n in range(3,num+1):
        prime=True
        for i in range(3,n,2):
            if(n%i == 0):
                prime=False
                break
        if prime:
            primen.append(n)
            counter += 1       
    print (primen)       
    return counter

In [60]:
count_primes(25)

[2, 3, 4, 5, 7, 8, 11, 13, 16, 17, 19, 23]

11

In [56]:
def count_primes2(num):
    primes = [2]
    x = 3
    if num < 2:
        return 0
    while x <= num:
        for y in primes:  # use the primes list!
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)
count_primes2(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

In [59]:
#PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])
print_big('c')

*****
*
*
*
*****